.auth__root {
    font-family: serif;
    color: dimgray;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.auth__root span {
    cursor: pointer;
}

/******* Module Spacer *********/
.divider__small {
    height: 20px;
    width: 100%;
    border-top: 2px solid #eeeeee;
    margin-top: 20px;
}

.spacer__small {
    height: 20px;
}

.spacer__medium {
    height: 32px;
}