.exhibit_list_header {
    display: flex;
    justify-content: space-between;
}

.exhibit_no_content {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 8px;
    margin-top: 16px;
}

.exhibit_edit_btn_wrapper {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.multi_exhibit_list_header {
    display: flex;
    justify-content: space-between;
}

.multi_exhibit_btn_wrapper {
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
}

.exhibit_pagination_wrapper {
    margin: 24px 0;
    width: 100%;
    text-align: center;
}

.thumbnail_loading {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}